html {
  font-size: 62.5%; /**es una transformacion necesaria para poder usar rem que mejoran la pag 1rem igual a 10px**/
  box-sizing: border-box;
  margin-top: 5.1rem;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4f5fc+0,2ab0ed+100&1+0,0.42+100 */
  background: -moz-linear-gradient(top,  rgba(228,245,252,1) 0%, rgba(42,176,237,0.42) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(228,245,252,1) 0%,rgba(42,176,237,0.42) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(228,245,252,1) 0%,rgba(42,176,237,0.42) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#6b2ab0ed',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
